In [ ]:
import pandas as pd

In [3]:
df = pd.read_csv("../csv/tunes.csv")

In [4]:
df

,tune_id,setting_id,name,type,meter,mode,abc,date,username
0,18105,35234,"$150 Boot, The",polka,2/4,Gmajor,|:d>g fe|dB AG|E/F/G E/F/G|BA GF|\r\nd>g fe|dB...,2019-07-06 04:39:09,NfldWhistler
1,11931,11931,'G Iomain Nan Gamhna,slip jig,9/8,Gmajor,dBB B2 A BAG|dBB Bcd efg|dBB B2 A BAG|eAA dBG ...,2012-05-17 07:49:26,iliketurtles
2,11931,48772,'G Iomain Nan Gamhna,slip jig,9/8,Amixolydian,|:dBB BBA BAG|dBB Bcd efg|dBB BBA BAG|e2A dBG ...,2023-11-25 22:54:00,birlibirdie
3,15326,28560,'S Ann An Ìle,strathspey,4/4,Gmajor,|:G>A B>G c>A B>G|E<E A>G F<D D2|G>A B>G c>A B...,2016-03-31 15:34:45,danninagh
4,15326,28582,'S Ann An Ìle,strathspey,4/4,Gmajor,"uD2|:{F}v[G,2G2]uB>ud c>A B>G|{D}E2 uA>uG F<D ...",2016-04-03 09:15:08,DonaldK
...,...,...,...,...,...,...,...,...,...
50470,13875,24924,Zuppa Inglese,jig,6/8,Gmajor,GAG GAB|cBc cde|d2B GAB|A2G E2D|\r\nGAG GAB|cB...,2014-10-07 22:55:26,Edward Nunn
50471,6040,6040,Ølland,waltz,3/4,Gmajor,AB|:c2 cd cB|A2 AB cd|e2 g2 f2|1 e4 AB:|2 e4 e...,2006-07-28 15:19:26,Kuddel
50472,6040,17944,Ølland,waltz,3/4,Ddorian,F2 FG FE|D2 DE FG|A2 c2- cB|A4-:|\r\nA2 FA FA|...,2006-07-30 13:32:55,ceolachan
50473,6040,39239,Ølland,waltz,3/4,Adorian,|:AB|c2 cd Bc|A3 B cd|e2 g2 f2|e4:|\r\nw:Var d...,2020-10-11 19:23:21,janglecrow
50474,6040,39240,Ølland,waltz,3/4,Aminor,"AB|""Am""c2 cd ""G""Bc|""Am""A3 B cd|""Em""e2 g2 ""D""^f...",2020-10-11 19:47:57,Bazza

In [5]:
# first off, fucking beautiful data

df["date"] = pd.to_datetime(df["date"])

In [6]:
df.head()

,tune_id,setting_id,name,type,meter,mode,abc,date,username
0,18105,35234,"$150 Boot, The",polka,2/4,Gmajor,|:d>g fe|dB AG|E/F/G E/F/G|BA GF|\r\nd>g fe|dB...,2019-07-06 04:39:09,NfldWhistler
1,11931,11931,'G Iomain Nan Gamhna,slip jig,9/8,Gmajor,dBB B2 A BAG|dBB Bcd efg|dBB B2 A BAG|eAA dBG ...,2012-05-17 07:49:26,iliketurtles
2,11931,48772,'G Iomain Nan Gamhna,slip jig,9/8,Amixolydian,|:dBB BBA BAG|dBB Bcd efg|dBB BBA BAG|e2A dBG ...,2023-11-25 22:54:00,birlibirdie
3,15326,28560,'S Ann An Ìle,strathspey,4/4,Gmajor,|:G>A B>G c>A B>G|E<E A>G F<D D2|G>A B>G c>A B...,2016-03-31 15:34:45,danninagh
4,15326,28582,'S Ann An Ìle,strathspey,4/4,Gmajor,"uD2|:{F}v[G,2G2]uB>ud c>A B>G|{D}E2 uA>uG F<D ...",2016-04-03 09:15:08,DonaldK

In [7]:
df.date.describe()

count                            50475
mean     2015-01-17 16:21:39.880257536
min                2001-05-14 18:45:18
25%         2008-08-07 12:34:36.500000
50%                2015-10-23 11:25:10
75%         2021-01-11 16:09:11.500000
max                2025-02-02 04:24:42
Name: date, dtype: object

In [9]:
df.username.value_counts()

username
ceolachan         5180
JACKB             3071
NfldWhistler      2304
gian marco        1453
Dr. Dow           1067
                  ...
Faolan McFion        1
Alberto Zucchi       1
Daniel Resner        1
I_Fel                1
Sam O’Conrey         1
Name: count, Length: 3468, dtype: int64

In [13]:
df.isnull().sum()

tune_id       0
setting_id    0
name          0
type          0
meter         0
mode          0
abc           0
date          0
username      0
dtype: int64

In [16]:
df["mode"].value_counts()

mode
Gmajor         13307
Dmajor         13036
Amajor          3585
Adorian         3014
Eminor          2832
Edorian         2379
Bminor          1977
Amixolydian     1677
Aminor          1615
Dmixolydian     1477
Cmajor          1212
Fmajor           856
Gminor           728
Dminor           721
Ddorian          587
Gdorian          424
Emajor           313
Gmixolydian      201
Bdorian          156
Cdorian          143
Fdorian          116
Emixolydian       86
Bmixolydian       33
Name: count, dtype: int64